<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>카카오 로그인 api 이용하기</title>
	<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.1/kakao.min.js" integrity="sha384-kDljxUXHaJ9xAb2AzRd59KxjrFjzHa5TAoFQ6GbYTCAG0bjM55XohjjDT7tDDC01" crossorigin="anonymous"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script th:inline="javascript">
	  Kakao.init([[${javascriptKey}]]); // 사용하려는 앱의 JavaScript 키 입력
	</script>	
</head>
<body>
	<h1> 카카오 로그인 api 이용하기 </h1>
	<h1>카카오 로그인 테스트</h1>
	<br>
	<form>
		<div class="text-center">
			<h2>REST API</h2>
			<a herf="javascript:void(0)" th:onclick="javascript:fnClick();" style="cursor: pointer;">
			  <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222">
			</a>
		</div>
		<br>
		<div class="text-center">
			<h2>Javascript API</h2>
			<a id="kakao-login-btn" href="javascript:loginWithKakao()">
			  <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222"
			    alt="카카오 로그인 버튼" />
			</a>
		</div>
	
	</form>

	<script th:inline="javascript">

	  	// REST API
		function fnClick() {
			location.href = [[${location}]]
		};

		// javascript API
		function loginWithKakao() {
			Kakao.Auth.authorize({
				redirectUri: [[${kakaoRedirectUri}]],
			});
		}
		
	</script>

</body>
</html>